.layout {
  width: 100%;
  height: 5rem;
  background-color: var(--color--bg-dark-2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem 0;

  &--small {
    display: block;

    @include respond(tablet-land) {
      display: none;
    }
  }

  &--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;

    &__title {
      margin-top: -1rem;

      &__content {
        font-family: "Berkshire Swash";
        font-size: var(--font-size--x-large);
        font-weight: var(--font-weight--boldest);
        letter-spacing: .1rem;
        cursor: pointer;

        &__span {
          background-image: linear-gradient(to right, var(--dark-blue), var(--blue-cyan));
          background-clip: text;
          -webkit-background-clip: text;
          -moz-background-clip: text;
          -ms-background-clip: text;
          -o-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-family: var(--font-family--1);

          &--elue {
            background-image: linear-gradient(to left, var(--color--text), var(--color--white));
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -o-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &--michael {
            background-image: linear-gradient(to right, var(--dark-blue), var(--blue-cyan));
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -o-background-clip: text;
            -webkit-text-fill-color: transparent;
          }

          &--line {
            font-family: var(--font-family--1);
            background-image: linear-gradient(to left, var(--color--text), var(--color--white));
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            -ms-background-clip: text;
            -o-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
        }
      }
    }
  }

  &--nav {
    position: relative;

    &__button {
      position: fixed;
      top: 1rem;
      right: 1rem;
      z-index: 10;
      background-image: radial-gradient(315deg, var(--color--white-3), var(--grey-color--5));
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      padding: .7rem;
      color: var(--blue-cyan);
      font-size: var(--font-size--large);
      font-weight: var(--font-weight--bold);
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--color--green-dark);
      }

      &:focus {
        outline: none;
      }

      @include respond(tablet-port) {
        right: 2rem;
      }
    }

    &__content {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      max-width: 100%;
      height: 80%;
      background-color: var(--color--bg-dark);
      z-index: 5;
      overflow: hidden;

      &.show {
        width: 100%;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
      }

      &__list {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        padding: 0;
        margin-top: 20rem;

        &__item {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 1rem;
          color: var(--color--white-1);
          font-family: var(--font-family--secondary);
          font-size: var(--font-size--x-large);
          font-weight: var(--font-weight--medium);
          text-transform: capitalize;
          padding: 1rem 1rem;
          background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color--white-1) 50%);
          background-size: 225%;
          background-position: 0;
          border-radius: .5rem;
          -webkit-border-radius: .5rem;
          -moz-border-radius: .5rem;
          -ms-border-radius: .5rem;
          -o-border-radius: .5rem;
          transition: all 1s ease-in-out;
          -webkit-transition: all 1s ease-in-out;
          -moz-transition: all 1s ease-in-out;
          -ms-transition: all 1s ease-in-out;
          -o-transition: all 1s ease-in-out;
          transform: translateX(0);
          -webkit-transform: translateX(0);
          -moz-transform: translateX(0);
          -ms-transform: translateX(0);
          -o-transform: translateX(0);
          cursor: pointer;

          &:hover,
          &:active {
            color: var(--blue-cyan);
            background-position: 100%;
            transform: translateX(1rem);
            -webkit-transform: translateX(1rem);
            -moz-transform: translateX(1rem);
            -ms-transform: translateX(1rem);
            -o-transform: translateX(1rem);
          }
        }
      }
    }
  }


  &--large {
    display: none;

    @include respond(tablet-land) {
      display: block;
      background-color: var(--color--bg-dark-2);
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      width: 100%;
    }

    &__menu {
      padding: .5rem;
      position: relative;

      &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        gap: 3rem;

        @include respond(laptop) {
          gap: 5rem;
        }

        &__item,
        &:link,
        &:visited {
          color: var(--color--white-1);
          font-family: var(--font-family--tertiary);
          font-size: var(--font-size--medium);
          font-weight: var(--font-weight--regular);
          letter-spacing: 2px;
          text-transform: capitalize;
          cursor: pointer;
        }
      }

      &__magic-line {
        position: absolute;
        bottom: 1.5rem;
        left: 0;
        width: 0;
        height: .3rem;
        background: radial-gradient(circle, rgba(29, 151, 108, 1) 0%, rgba(122, 185, 240, 1) 38%, rgba(147, 249, 185, 1) 100%);
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        border-radius: 1rem;
        -webkit-border-radius: 1rem;
        -moz-border-radius: 1rem;
        -ms-border-radius: 1rem;
        -o-border-radius: 1rem;
      }
    }
  }
}