.layout {
  font-size: $font-size-2;

  &--ribbon {
    width: 15.5rem;
    background: $light-green-1;
    background: linear-gradient(to bottom, $light-green-1, $light-green-2);
    font-family: $font-family-1;

    &__content {
      color: $light-green-3;
      text-shadow: $color-purple 0 1px 0;
      margin: 0rem;
      padding: .2rem .5rem;
    }
  }
}