.layout {
  font-size: 2rem;

  &--ribbon {
    width: 20rem;
    background: linear-gradient(to bottom, #cc4600, #bb45cb);

    &__content {
      color: #eefff8;
      text-shadow: #bb45cb 0 1px 0;
      margin: 0rem;
      padding: .2rem .5rem;
    }
  }
}