.layout {
  font-size: var(--font-size);

  &--ribbon {

    &__content {
      color: var(--color-tertiary);
      text-shadow: var(--color-secondary) 0 1px 0;
      margin: 0rem;
      padding: .2rem .5rem;
    }
  }
}