.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: .5rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.2rem 0.2rem var(--color--bg);
  transition: all 0.5s ease-in-out;

  &--popup {
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: rgba(22, 22, 22, .8);

    @supports (backdrop-filter: blur()) {
      backdrop-filter: blur(.5rem);
      background-color: rgba(22, 22, 22, .3);
    }

    &__wrapper {
      width: 50%;
      @include absCenter;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      padding: 1rem;
      background-color: var(--color--white);
      box-shadow: var(--box-shadow);
      border-radius: 1rem;
      -webkit-border-radius: 1rem;
      -moz-border-radius: 1rem;
      -ms-border-radius: 1rem;
      -o-border-radius: 1rem;
    }

    &__avatar {
      width: 30%;
    }

    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;

      &--msg {
        font-family: var(--font-family--secondary);
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--regular);
        color: var(--dark-blue-op);
        text-align: center;

        strong {
          color: var(--color--markup);
          text-transform: capitalize;
        }
      }

      &--btn {
        padding: 1rem 2rem;
        background: linear-gradient(to left, var(--color--markup), var(--color-primary));
        font-size: var(--font-size--medium);
        font-family: var(--font--family--primary);
        color: var(--color--white);
        cursor: pointer;
        border: none;
        border-radius: 2rem;
        -webkit-border-radius: 2rem;
        -moz-border-radius: 2rem;
        -ms-border-radius: 2rem;
        -o-border-radius: 2rem;

        &:hover,
        &:active {
          background: linear-gradient(to right, var(--color--markup-2), var(--));
        }
      }
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: .5rem 1rem;
    gap: .5rem;
    width: 100%;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: .5rem;
      width: 100%;
    }

    &__label {
      font-size: var(--font-size);
      font-weight: var(--font-weight--medium);
      color: var(--color--dark-1);
      text-transform: uppercase;
      display: block;
      margin: .2rem 0 0 1rem;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;

      align-self: flex-start;
    }

    &__input:placeholder-shown+&__label {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-4rem);
      -webkit-transform: translateY(-4rem);
      -moz-transform: translateY(-4rem);
      -ms-transform: translateY(-4rem);
      -o-transform: translateY(-4rem);
    }

    &__input {
      font-family: inherit;
      color: var(--color--dark-1);
      padding: 1.5rem 2rem;
      font-size: var(--font-size--small);
      font-weight: var(--font-weight--regular);
      border: none;
      border-radius: 0.5rem;
      border-bottom: 3px solid transparent;
      background-color: var(--color--white);
      width: 100%;
      display: block;
      transition: all .3s;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      -ms-transition: all .3s;
      -o-transition: all .3s;

      &:focus {
        outline: none;
        border-bottom: 3px solid var(--color--green);
        box-shadow: 0 1rem 2rem rgba(var(--color--dark), .1);

        &:invalid {
          border-bottom: 3px solid var(--color-primary);
        }
      }

      &::-webkit-input-placeholder {
        color: var(--color--dark-1);
      }
    }

    &__msg:focus {
      border-bottom: unset;
      box-shadow: unset;
    }

    &__btn {
      background-image: linear-gradient(to right, var(--color--green) 0%, var(--color--green-dark) 51%, var(--color--green-light) 100%);
      padding: 1rem 1.5rem;
      text-align: center;
      background-size: 200% auto;
      color: var(--color--white);
      box-shadow: 0 0 2rem var(--grey-color);
      border-radius: 5rem;
      border: none;
      display: block;
      font-family: inherit;
      font-size: var(--font-size--small);
      font-weight: var(--font-weight--bold);
      transition: all .5s;
      -webkit-transition: all .5s;
      -moz-transition: all .5s;
      -ms-transition: all .5s;
      -o-transition: all .5s;

      &:hover {
        background-position: right center;
      }
    }

    &__error {
      color: var(--color--red);
      font-size: var(--font-size);
      font-weight: var(--font-weight--regular);
      margin-top: -1rem;
    }
  }
}