.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 60rem;
  height: 100%;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.4rem 0.4rem var(--color--bg);
  transition: all 0.5s ease-in-out;
  @media (prefers-reduced-motion: no-preference) {
    &:hover {
      transform: scale(1.05);
    }

    &--content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      gap: 1rem;

      &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        gap: 0.5rem;
      }

      &__label {
        font-size: 1rem;
        font-weight: 400;
        text-transform: uppercase;
      }

       &__input {
    // margin: 0.5rem 0;
    padding: 1rem;
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    font-weight: 400;
    border: 0;
    border-radius: 0.5rem;
    // background-color: $color-white;
    // color: $color-black;
    outline: none;
  }
  // &__button {
  //   margin: 0.5rem 0;
  //   padding: 0.5rem;
  //   width: 100%;
  //   height: 2rem;
  //   font-size: 1rem;
  //   font-weight: 400;
  //   text-transform: uppercase;
  //   border: 0;
  //   border-radius: 0.5rem;
  //   background-color: $color-white;
  //   color: $color-black;
  //   outline: none;
  //   transition: all 0.5s ease-in-out;
  //   @media (prefers-reduced-motion: no-preference) {
  //     &:hover {
  //       transform: scale(1.05);
  //     }
  //   }
  // }
}
  }
}