.projectSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2rem .5rem;
  background-color: var(--color--white-1);
  width: 100%;
  height: 100%;

  &--contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    &__container {
      width: 30rem;
      height: 20rem;

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        border: 1px solid var(--grey-color--1);
        cursor: pointer;
        transition: transform .3s ease-in-out;
      }
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      height: 100%;
      padding: 1rem 0;
      font-family: var(--font-family--secondary);

      &--title {
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--medium);
        color: var(--dark-blue-op);
        text-align: center;
        text-transform: capitalize;
      }

      &--desc {
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--regular);
        color: var(--dark-blue-op);
        text-align: center;
      }

      &--link {
        text-decoration: none;
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--bold);
        font-family: var(--font--family--primary);
        color: var(--color--green-dark);
        letter-spacing: 1px;
        text-transform: uppercase;
        cursor: pointer;
        transition: transform .3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale();
          -moz-transform: scale();
          -ms-transform: scale();
          -o-transform: scale();
          text-decoration: underline;
        }
      }
    }
  }

  &--controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    height: 100%;

    &__btn {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 1px solid var(--grey-color--1);
      cursor: pointer;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale();
        -moz-transform: scale();
        -ms-transform: scale();
        -o-transform: scale();
      }

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
        border: 1px solid var(--grey-color--1);
        cursor: pointer;
        transition: transform .3s ease-in-out;
      }
    }
  }

  &--pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    &__dot {
      width: 1rem;
      height: 1rem;
      border-radius: 50%;
      background-color: var(--grey-color--1);
      cursor: pointer;
      transition: transform .3s ease-in-out;

      &:hover {
        transform: scale(1.1);
        -webkit-transform: scale();
        -moz-transform: scale();
        -ms-transform: scale();
        -o-transform: scale();
      }

      &--active {
        background-color: var(--color--green-dark);
    }
  }
}
}