.projectSlider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem .5rem;
  background-color: var(--color--white-1);
  width: 100%;
  height: 100%;

  &--contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;

    &__container {
      width: 20rem;
      height: 15rem;

      &--img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 1rem;
        border: 1px solid var(--grey-color--1);
        cursor: pointer;
        transition: transform .3s ease-in-out;
}
    }

    &__details {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      width: 100%;
      height: 100%;

      &--title {
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--medium);
        color: var(--dark-blue-op);
        text-align: center;
        text-transform: capitalize;
      }

      &--desc {
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--regular);
        color: var(--dark-blue-op);
        text-align: center;
      }
    }
  }
}