.contact {
  background-color: var(--color--bg-dark-2);
  color: var(--color--white);
  padding: 2rem;

  &--header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    font-family: var(--font-family--secondary);

    &__title {
      font-size: var(--font-size--xx-large);
      font-weight: var(--font-weight--boldest);
      color: var(--color--white);
    }

    &__subtitle {
      font-size: var(--font-size--large);
      font-weight: var(--font-weight--bold);
      color: var(--blue-cyan);
    }
  }

  &--content {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    padding: .5rem;
    gap: 2rem;

    &__left {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;
      gap: 1rem;
      padding: .5rem;
      width: 100%;
      // max-width: 50rem;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      background-color: var(--color--dark-4);

      &__title {
        font-size: var(--font-size--large);
        font-weight: var(--font-weight--boldest);
        color: var(--dark-blue--1);
      }
    }
  }
}