.error-page {
  background: #fff;
  padding: 40px 15px;
  text-align: center;

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &__avatar {
      width: 100%;
      max-width: 200px;
      border-radius: 50%;
      border: 2px solid #000;
    }
  }
}