.error-page {
  background: var(--color--bg-dark-2);
  padding-top: 15rem;
  padding-inline: 5rem;
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  &--content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;

    &__avatar {
      // width: 70%;
      // height: 90%;
    }

    &__text {
      font-size: var(--font-size--medium);
      font-weight: var(--font-weight--medium);
      font-family: var(--font-family--secondary);
      color: var(--color--white-2);
    }


  &__link {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // gap: .5rem;
    // padding: .5rem 1rem;
    // border-radius: .5rem;
    // background-color: var(--color--white-2);
    // color: var(--blue-cyan);
    // font-size: var(--font-size--large);
    // font-weight: var(--font-weight--medium);
    // font-family: var(--font-family--secondary);
    // text-decoration: none;

      min-width: 100px;
      // height: 40px;
      color: #fff;
      padding: 5px 10px;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
      outline: none;
      border-radius: 5px;
      z-index: 0;
      background: #fff;
      overflow: hidden;
      border: 2px solid #495057;
      color: #495057;

      &:hover {
        color: #fff;

        &::before {
          width: 100%;
        }
      }

      &::after {
        content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #495057;
      }
  }
}
}