.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100%;
  background-color: var(--color--bg-dark-2);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;

  @include respond(tablet-land) {
    align-items: unset;
  }

  &--line {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &__content {
      width: 100%;
      height: .1rem;
      border: 1px solid var(--grey-color--1);
    }
  }

  &--container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;

    @include respond(phone-normal) {
      gap: 3rem;
    }

    @include respond(tablet-land) {
      align-items: unset;
    }

    &__content {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 5rem;

      &--details {
        display: flex;
        // flex-direction: column;
        justify-self: center;
        align-items: flex-start;
        gap: 1rem;

        flex-basis: 60%;

          &__logo {
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            -o-border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            // border: 1px solid var(--grey-color--1);
          }

          &__email {
            &--link {

              &:link,
              &:visited {
                font-size: var(--font-size--small);
                font-weight: var(--font-weight--medium);
                color: var(--blue-cyan);
                text-decoration: none;
                padding: .5rem;
                transition: all .3s ease-in-out;
                -webkit-transition: all .3s ease-in-out;
                -moz-transition: all .3s ease-in-out;
                -ms-transition: all .3s ease-in-out;
                -o-transition: all .3s ease-in-out;
                cursor: pointer;
              }

              &:hover,
              &:active {
                color: var(--color--white-1);
                box-shadow: var(--box-shadow);
                border: unset;
                transform: scale(1.3);
                -webkit-transform: scale(1.3);
                -moz-transform: scale(1.3);
                -ms-transform: scale(1.3);
                -o-transform: scale(1.3);
              }
            }
          }

          &__text {
            font-size: var(--font-size--small);
            font-weight: var(--font-weight--regular);
            font-style: oblique;
            color: var(--color--white-1);
            text-align: center;
          }

        &__wrapper {
          margin: 0;
          padding: 0;
        }
      }

      &--media {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;

        @include respond(phone-normal) {
          align-items: center;
        }

        &--title {
          font-size: var(--font-size--medium);
          font-weight: var(--font-weight--medium);
          font-family: var(--font-family--2);
          color: var(--color--white-1);
        }

        &--links {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: .5rem;

          @include respond(phone-normal) {
            flex-direction: row;
          }

          &--link {
            width: 3.5rem;
            height: 3.5rem;

            &:hover {
              animation: Heartbeat 3s infinite;
              -webkit-animation: Heartbeat 3s infinite;
            }
          }
        }
      }
    }

    &__copyright {
      &--text {
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--regular);
        font-style: oblique;
        font-family: var(--font-family--secondary);
        color: var(--blue-cyan);

        @include respond(tablet-land) {
          text-align: center;
        }

        a,
        &:link,
        &:visited {
          text-decoration: none;
          color: var(--blue-cyan);
          transition: all .3s ease-in-out;
          -webkit-transition: all .3s ease-in-out;
          cursor: pointer;

          &:hover,
          &:active {
            color: var(--color--white-1);
            box-shadow: var(--box-shadow);
            border: unset;
            transform: scale(1.3);
            -webkit-transform: scale(1.3);
            -moz-transform: scale(1.3);
            -ms-transform: scale(1.3);
            -o-transform: scale(1.3);
          }
        }
      }
    }
  }
}