.home {
  width: 100%;
  min-height: 100vh;
  background: radial-gradient(100% 100% at 50% 100%, var(--color--bg-dark-2) 21.52%, var(--color--bg-dark) 100%);
  margin-top: 5rem;
  display: flex;
  justify-content: center;

  &--media {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8rem;
    padding: 0;
    background-color: var(--color--bg-dark-2);
    width: 3rem;
    height: 100%;

    &__line {
      width: 15rem;
      height: 1px;
      margin-top: 6rem;
      background-color: var(--grey-color--1);
      transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
    }

    &__frame {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: .5rem;

      &__img {
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background-color: var(--color--white-1);
        border: 1px solid var(--grey-color--1);
        cursor: pointer;
        transition: transform .3s ease-in-out;

        &:hover {
          transform: scale(1.1);
          -webkit-transform: scale();
          -moz-transform: scale();
          -ms-transform: scale();
          -o-transform: scale();
        }
      }
    }
  }

  &--contents {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
    gap: 3rem;
    margin-top: 5rem;

    &__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 3rem;
      width: 100%;
      height: 100%;

      @include respond(laptop) {
        flex-direction: row;
        justify-content: space-between;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-basis: 50%;
      padding: 0;
      gap: .5rem;

      &__title {
        font-family: var(--font-family--secondary);
        font-size: var(--font-size--xx-large);
        font-weight: var(--font-weight--boldest);
        background-image: linear-gradient(to bottom, var(--grey-color--1), var(--blue-cyan));
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-transform: capitalize;
      }

      &__subtitle {
        font-family: var(--font-family--secondary);
        font-size: var(--font-size--large);
        font-weight: var(--font-weight--bold);
        color: var(--color--text);
      }

      &__desc {
        font-family: var(--font-family--secondary);
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--regular);
        color: var(--color--white-1);
      }

      &__btn {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin-top: 2rem;
        width: 100%;

        a {
          text-decoration: none;
        }

        &__link {
          display: flex;
          align-items: center;
          gap: .5rem;
          padding: .5rem 1rem;
          border-radius: 1rem;
          background-color: var(--color--bg-dark-2);
          color: var(--color--white-1);
          font-family: var(--font-family--secondary);
          font-size: var(--font-size--small);
          font-weight: var(--font-weight--bold);
          text-transform: capitalize;
          cursor: pointer;
          transition: transform .3s ease-in-out;

          &:hover {
            transform: scale(1.1);
            -webkit-transform: scale();
            -moz-transform: scale();
            -ms-transform: scale();
            -o-transform: scale();
          }
        }
      }
    }

    &__content2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap:2rem;

      &__avatar {
        background-image: linear-gradient(to bottom, var(--blue-cyan), var(--light-blue--1));
        width: 85%;
        height: 85%;
        border-radius: 50%;
        padding: 1rem;
        box-shadow: 0 0 1rem var(--grey-color--1);
      }

      &__quote {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0;
        width: 100%;

        @include respond(phone-normal) {
          flex-direction: row;
          justify-content: center;
          gap: 3rem;
        }

        &__block {
          margin: 0;

          &__text {
            font-family: var(--font--family--primary);
            font-size: var(--font-size--small);
            font-weight: var(--font-weight--medium);
            color: var(--dark-blue-op);
            text-align: center;
            background-color: var(--color--white-1);
            padding: 1rem;
            border-radius: 1rem;
            box-shadow: 0 0 1rem var(--grey-color--1);

            &::before {
              content: '\201C';
              font-size: var(--font-size--medium);
              font-weight: var(--font-weight--bold);
              color: var(--blue-cyan);
            }

            &::after {
              content: '\201D';
              font-size: var(--font-size--medium);
              font-weight: var(--font-weight--bold);
              color: var(--blue-cyan);
            }
          }

          &__caption {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: .5rem;
            font-family: var(--font-family--secondary);
            font-size: var(--font-size--small);
            font-weight: var(--font-weight--bold);
            color: var(--color--white-1);
            text-align: center;
            background-color: var(--color--bg-dark-2);
            padding: .5rem 1rem;
            border-radius: 1rem;
            box-shadow: 0 0 .5rem var(--grey-color--1);

            &__cite {
              font-weight: var(--font-weight--regular);
              font-family: var(--font-family--2);
              font-size: var(--font-size--small);
              text-decoration: none;
              color: var(--color--white-1);
              transition: color .3s ease-in-out;
              cursor: pointer;

              &:hover {
                color: var(--blue-cyan);
              }
            }
          }
        }
      }
    }
  }

  &--slides {
    width: 100%;
    height: 100%;
  }
}