.project {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--color--bg-dark-2);
  // height: 100%;

  &--title {
    font-family: var(--font-family--1);
    font-size: var(--font-size--x-large);
    font-weight: var(--font-weight--bold);
    background-image: linear-gradient(to top, var(--blue-cyan), var(--light-blue--2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 2rem .5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .5rem;

    &::after {
      content: '';
      width: 60%;
      height: .1rem;
      background-color: var(--color--white-1);
    }
  }

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;
    width: 100%;
    // overflow: hidden;

    @include respond(tablet-land) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include respond(laptop) {
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    }
  }

  &--card {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 .5rem var(--color--dark-4);
    border-radius: .5rem;

    @include respond(noHover) {
      height: auto;

      &__side {
        height: auto;
        width: 100%;

        &__back {
          transform: rotateY(0);
        }
      }

      &:hover &__side__front {
        transform: rotateY(0);
      }
    }

    @include respond(hover) {
      position: relative;
      perspective: 150rem;

      &__side {
        @include absTop;
        width: 100%;
        transition: all .8s ease;
        backface-visibility: hidden;
        border-radius: .5rem;
        box-shadow: 0 0 .5rem var(--color--dark-4);
        overflow: hidden;

        &__front {
          // transform: rotateY(0);
        }

        &__back {
          transform: rotateY(180deg);
        }
      }

      &:hover &__side__front {
        transform: rotateY(-180deg);
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -ms-transform: rotateY(-180deg);
        -o-transform: rotateY(-180deg);
      }

      &:hover &__side__back {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
      }
    }

    &__bg {
      width: 100%;
      height: 25rem;
      padding: 0;

      &--img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: .5rem;

        &-1 {
          background-image: url(../../../images/projects/repoApp.jpeg);
        }

        &-2 {
          background-image: url(../../../images/projects/phonieApp.jpeg);
        }

        &-3 {
          background-image: url(../../../images/projects/randomApp.jpeg);
        }

        &-4 {
          background-image: url(../../../images/projects/counter.jpeg);
        }

        &-5 {
          background-image: url(../../../images/projects/ratingApp.jpeg);
        }

        &-6 {
          background-image: url(../../../images/projects/natours.jpeg);
        }

        &-7 {
          background-image: url(../../../images/projects/trillo.jpeg);
        }

        &-8 {
          background-image: url(../../../images/projects/phonyApp.jpeg);
        }

        &-9 {
          background-image: url(../../../images/projects/calculator.jpeg);
        }

        &-10 {
          background-image: url(../../../images/projects/chatAppCss.jpeg);
        }

        &-11 {
          background-image: url(../../../images/projects/shoebrand.jpeg);
        }

        &-12 {
          background-image: url(../../../images/projects/orderCard.jpeg);
        }

        &-13 {
          background-image: url(../../../images/projects/statsCard.jpeg);
        }

        &-14 {
          background-image: url(../../../images/projects/fylo.jpeg);
        }

        &-15 {
          background-image: url(../../../images/projects/tip-calculator.jpeg);
        }

        &-16 {
          background-image: url(../../../images/projects/form.jpeg);
        }

        &-17 {
          background-image: url(../../../images/projects/marley.jpeg);
        }

        &-18 {
          background-image: url(../../../images/projects/cssDocumentation.jpeg);
        }

        &-19 {
          background-image: url(../../../images/projects/binance.jpeg);
        }

        &-20 {
          background-image: url(../../../images/projects/grid.jpeg);
        }

        &-21 {
          background-image: url(../../../images/projects/beating-heart.jpeg);
        }

        &-22 {
          background-image: url(../../../images/projects/half-moon.jpeg);
        }
      }

    }

    &__frame {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      padding: .5rem;
      border-top: 1px solid var(--color-tertiary);

      &__item {
        font-family: var(--font-family--2);
        font-size: var(--font-size--large);
        font-weight: var(--font-weight--regular);
        color: var(--color--white-1);
        letter-spacing: .1rem;
        text-transform: uppercase;
      }
    }

    &__content {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border-top: 1px solid var(--color-tertiary);

      &__title {
        font-family: var(--font--family--tertiary);
        font-size: var(--font-size--x-large);
        font-weight: var(--font-weight--bold);
        color: var(--blue-cyan);
        text-transform: uppercase;
      }

      &__desc {
        font-family: var(--font--family--secondary);
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--medium);
        color: var(--grey-color--2);
        text-align: center;
        padding: 0 1rem;
      }
    }

    &__links {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      padding: 1rem 0;

      &__link {
        text-decoration: none;
        padding: .5rem 1rem;
        border-radius: 1.5rem;
        font-family: var(--font--family--secondary);
        font-size: var(--font-size--small);
        font-weight: var(--font-weight--medium);
        color: var(--color--white);
        transition: all 0.3s ease-in-out;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        position: relative;
        outline: none;
        overflow: hidden;
        border: none;

        &:hover {
          padding-right: 2.2rem;
          padding-left: .8rem;

          &:after {
            opacity: 1;
            right: 1rem;
            top: -.5rem
          }
        }

        &::after {
          content: "\00BB";
          position: absolute;
          opacity: 0;
          font-size: var(--font-size--x-large);
          font-family: var(--font--family--secondary);
          font-weight: var(--font-weight--medium);
          line-height: 3.5rem;
          top: 0;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
        }
      }
    }
  }
}