.project {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--color--bg-dark-2);

  &--title {
    font-family: var(--font-family--1);
    font-size: var(--font-size--x-large);
    font-weight: var(--font-weight--bold);
    background-image: linear-gradient(to top, var(--blue-cyan), var(--light-blue--2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0 2rem .5rem;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: .5rem;

    &::after {
      content: '';
      width: 60%;
      height: .1rem;
      background-color: var(--color--white-1);
    }
  }

  &--grid {

    &__aspect-ratio {

    }

    &__content {

      &__wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
        width: 100%;
    
        @include respond(tablet-land) {
          grid-template-columns: repeat(2, 1fr);
        }
    
        @include respond(laptop) {
          grid-template-columns: repeat(3, 1fr);
          // gap: 1rem;
        }
    
        @include respond(large-screens) {
          grid-template-columns: repeat(4, 1fr);
        }
      }
    }
  }
}