.project {
  margin-top: 5rem;
  padding: 2rem;
  background-color: var(--color--bg-dark-2);

  &--title {
    font-family: var(--font-family--1);
    font-size: var(--font-size--x-large);
    font-weight: var(--font-weight--bold);
    background-image: linear-gradient(to top, var(--blue-cyan), var(--light-blue--2));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 2rem;
    text-align: center;
    letter-spacing: .2rem;
    text-transform: uppercase;
  }

  &--wrapper {
    // display: grid;
    // grid-template-columns: repeat(1, 1fr);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    // gap: 2rem;
  }

  &--card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--color--dark-4);

    &__img {
      max-width: 35rem;
      width: 100%;
      height: 30rem;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      // border-radius: 0.5rem;
      // box-shadow: 0 0 0.5rem 0.1rem var(--color--dark-4);
      border-bottom: 1px solid var(--color-tertiary);


      &-1 {
        background-image: url(../../../images/projects/repoApp.jpeg);
      }
    }

    &__frame {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2rem;
      width: 100%;
      padding: .5rem;

      &__item {
        font-family: var(--font-family--2);
        font-size: var(--font-size--large);
        font-weight: var(--font-weight--regular);
        color: var(--color--white-1);
        letter-spacing: .1rem;
        text-transform: uppercase;
      }
    }

    //   &-1 {
    //     background-image: url(../../../images/projects/repoApp.jpeg);
    //   }

    //   &-2 {
    //     background-image: url(../../../images/projects/phonieApp.jpeg);
    //   }

    //   &-3 {
    //     background-image: url(../../../images/projects/randomApp.jpeg);
    //   }

    //   &-4 {
    //     background-image: url(../../../images/projects/counter.jpeg);
    //   }

    //   &-5 {
    //     background-image: url(../../../images/projects/ratingApp.jpeg);
    //   }

    //   &-6 {
    //     background-image: url(../../../images/projects/natours.jpeg);
    //   }

    //   &-7 {
    //     background-image: url(../../../images/projects/trillo.jpeg);
    //   }

    //   &-8 {
    //     background-image: url(../../../images/projects/phonyApp.jpeg);
    //   }

    //   &-9 {
    //     background-image: url(../../../images/projects/calculator.jpeg);
    //   }

    //   &-10 {
    //     background-image: url(../../../images/projects/chatAppCss.jpeg);
    //   }

    //   &-11 {
    //     background-image: url(../../../images/projects/shoebrand.jpeg);
    //   }

    //   &-12 {
    //     background-image: url(../../../images/projects/orderCard.jpeg);
    //   }

    //   &-13 {
    //     background-image: url(../../../images/projects/statsCard.jpeg);
    //   }

    //   &-14 {
    //     background-image: url(../../../images/projects/fylo.jpeg);
    //   }
    // }

    &__content {
      // height: 25rem;
      // width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      position: relative;
      top: 0;
      left: 0;
      transition: all 1s ease-out;

      &:hover {
        opacity: 0;
        z-index: -100;
      }

      &__title {
        font-family: var(--font--family--tertiary);
        font-size: var(--font-size--x-large);
        font-weight: var(--font-weight--bold);
        color: var(--blue-cyan);
        text-transform: uppercase;
      }

      &__desc {
        font-family: var(--font--family--secondary);
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--medium);
        color: var(--color--markup);
        text-align: center;
      }
    }

    &__links {
      display: flex;
      align-items: center;
      gap: 3rem;

      &__link {
        text-decoration: none;
        padding: 1rem;
        border-radius: 1.5rem;
        font-family: var(--font--family--secondary);
        font-size: var(--font-size--medium);
        font-weight: var(--font-weight--medium);
        color: var(--color--white);
        transition: all 0.3s ease-in-out;
        display: inline-flex;
        align-items: center;
        gap: .5rem;
        cursor: pointer;
        position: relative;
        outline: none;
        overflow: hidden;
        border: none;

        &:hover {
          padding-right: 2.2rem;
          padding-left: .8rem;

          &:after {
            opacity: 1;
            right: 1rem;
          }
        }

        &::after {
          content: "\00BB";
          position: absolute;
          opacity: 0;
          font-size: var(--font-size--x-large);
          font-family: var(--font--family--secondary);
          font-weight: var(--font-weight--medium);
          line-height: 3.8rem;
          top: 0;
          transition: 0.5s;
          -webkit-transition: 0.5s;
          -moz-transition: 0.5s;
          -ms-transition: 0.5s;
          -o-transition: 0.5s;
        }
      }
    }
  }
}