.project {
  padding: 2rem;
  background-color: var(--color--bg-dark-2);

  &--title {
    font-family: var(--font--family--secondary);
    font-size: var(--font-size--large);
    font-weight: var(--font-weight--bold);
    color: var(--blue-cyan);
    margin-bottom: 1rem;
  }

  &--wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
  }

  &--card
}