.home {
  width: 100%;
  height: 100vh;
  background: radial-gradient(100% 100% at 50% 100%, var(--color--bg-dark-2) 21.52%, var(--color--bg-dark) 100%);

  &--contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    gap: 3rem;
  }

  &--content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    gap: .5rem;

    &__title {
      font-family: var(--font-family--secondary);
      font-size: var(--font-size--x-large);
      font-weight: var(--font-weight--boldest);
      color: var(--color--markup);
    }

    &__subtitle {
      font-family: var(--font-family--secondary);
      font-size: var(--font-size--large);
      font-weight: var(--font-weight--bold);
      color: var(--color--text);
    }

    &__desc {
      font-family: var(--font-family--secondary);
      font-size: var(--font-size--small);
      font-weight: var(--font-weight--regular);
      color: var(--color--text);
    }
  }

  &--avatar {
    width: 35rem;
    height: 30rem;
    position: relative;

    &__overlay {
      width: 50%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 131, 3, 0.72);
      transform: matrix(0.84, -0.54, 0.48, 0.88, 0, 0);
    }

    &__overlay2 {
      width: 50%;
      height: 100%;
      background-color: lightgreen;
      position: absolute;
      right: 0;
      top: 0;
    }

    // &__container {
    //   position: absolute;
    //   width: 30rem;
    //   height: 35rem;
    //   // top: 32rem;
    //   // left: 3rem;
    // }

    &__img {
      width: 80%;
      height: 80%;
      position: absolute;
      left: 10%;
      top: 10%;
    }

    // /*Group14*/position: absolute;
    // width: 382.3px;
    // height: 409.78px;
    // left: 32.45px;
    // top: 398.26px;
    // /*Rectangle6*/position: absolute;
    // width: 283.37px;
    // height: 295.11px;
    // left: 152.71px;
    // top: 405.56px;
    // background: rgba(240, 227, 202, 0.72);
    // transform: matrix(0.9, 0.43, -0.38, 0.92, 0, 0);
    // /*Rectangle7*/position: absolute;
    // width: 285.31px;
    // height: 293.27px;
    // left: 32.45px;
    // top: 551.1px;
    // background: rgba(255, 131, 3, 0.72);
    // transform: matrix(0.84, -0.54, 0.48, 0.88, 0, 0);
    // /*Rectangle5*/position: absolute;
    // width: 279.82px;
    // height: 298.43px;
    // left: 83.69px;
    // top: 453.93px;
    // background: url(../../../images/blondeMeeky.jpg);
  }
}