:root {
  --color-primary: #cc4600;
  --color-secondary:  #bb45cb;
  --color-tertiary: #eefff8;

  // BACKGROUND
  --color--bg: #2D322A;
  --color--bg-light: #242320;
  //DARK
  --color--dark: rgba(22, 22, 22, 1);
  --color--dark-1: rgba(34, 34, 34, 1);
  --color--dark-2: rgba(45, 45, 45, 1);
  --color--dark-3: rgba(51, 51, 51, 1);
  --color--dark-4: rgba(189, 189, 189, 1);
  //WHITE
  --color-white: rgba(255, 255, 255, 1);

  --light-blue: rgba(97, 218, 251, 1);
  --dark-blue: rgba(0, 122, 204, 1);

  --color-green: rgba(131, 205, 41, 1);

  //Font size
  --font-size: 1rem;
  --font-size--small: 1.2rem;
  --font-size--medium: 1.4rem;
  --font-size--large: 1.6rem;
  --font-size--x-large: 1.8rem;
  --font-size--xx-large: 2rem;

  //Font family
  --font-family: 'Roboto', sans-serif;
}