:root {
  --color-primary: #cc4600;
  --color-secondary: #bb45cb;
  --color-tertiary: #eefff8;

  // MARK UP
  --color--markup: #FF8303;
  // TEXT
  --color--text: #F0E3CA;

  // BACKGROUND
  --color--bg: #2D322A;
  --color--bg-light: #242320;
  --color--bg-dark: #1B1A17;
  --color--bg-dark-2: #1F1E1B;
  //DARK
  --color--dark: rgba(22, 22, 22, 1);
  --color--dark-1: rgba(34, 34, 34, 1);
  --color--dark-2: rgba(45, 45, 45, 1);
  --color--dark-3: rgba(51, 51, 51, 1);
  --color--dark-4: rgba(189, 189, 189, 1);
  //WHITE
  --color--white: rgba(255, 255, 255, 1);
  // --color--white-a: rgba(255, 255, 255, 1);
  --color--white-1: rgba(240, 227, 202, 1);
  --color--white-2: #ece9e6;
  --color--white-op: rgba(240, 227, 202, 0.76);

  // GRAY
  --color--gray: #ABB2BF;
  --color--gray-1: #6C757D;
  --color--gray-2: #343A40;
  --color--gray-3: #899599;

  --grey-color: #eee;
  --grey-color--1: #ededed;
  --grey-color--2: #bab1ba;
  --grey-color--3: #d6bcd6;

  // RED
  --color--red: rgba(255, 0, 0, 1);
  --color--red-1: rgba(255, 0, 0, 0.5);
  --color--red-2: #D61355;


  --light-blue: rgba(97, 218, 251, 1);
  --light-blue--1: #3bc9db;
  --light-blue--2: #6dd5fa;
  --dark-blue: rgba(0, 122, 204, 1);
  --dark-blue--1: #2980b9;
  --blue-cyan: #228be6;
  --dark-blue-op: rgba(6, 6, 7, 1);

  --color--green: rgba(131, 205, 41, 1);
  --color--green-light: #93F9B9;
  --color--green-dark: #1D976C;

  //Font size
  --font-size: 1rem;
  --font-size--small: 1.2rem;
  --font-size--medium: 1.4rem;
  --font-size--large: 1.6rem;
  --font-size--x-large: 1.8rem;
  --font-size--xx-large: 2rem;
  // ICON FONTS
  --font-size--icon: 3rem;
  --font-size--icon-1: 3.5rem;
  --font-size--icon-2: 4rem;


  //Font family
  --font-family: 'Roboto', sans-serif;
  --font--family--primary: 'Inter', sans-serif;
  --font-family--secondary: 'Inconsolata', monospace;
  --font-family--tertiary: 'Impact', sans-serif;
  --font-family--1: 'Domine', sans-serif;
  --font-family--2: 'Fira Code', monospace;
  --font-family--3: 'Kaushan Script', monospace;

  // FONT WEIGHT
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--medium: 600;
  --font-weight--bold: 800;
  --font-weight--boldest: 900;
}