:root {
  --color-primary: #cc4600;
  --color-secondary: #bb45cb;
  --color-tertiary: #eefff8;

  // MARK UP
  --color--markup: #FF8303;
  // TEXT
  --color--text: #F0E3CA;

  // BACKGROUND
  --color--bg: #2D322A;
  --color--bg-light: #242320;
  --color--bg-dark: #1B1A17;
  --color--bg-dark-2: #1F1E1B;
  //DARK
  --color--dark: rgba(22, 22, 22, 1);
  --color--dark-1: rgba(34, 34, 34, 1);
  --color--dark-2: rgba(45, 45, 45, 1);
  --color--dark-3: rgba(51, 51, 51, 1);
  --color--dark-4: rgba(189, 189, 189, 1);
  //WHITE
  --color--white: rgba(255, 255, 255, 1);
  --color--white-1: rgba(240, 227, 202, 1);

  // GRAY
  --color--gray: #ABB2BF;

  --light-blue: rgba(97, 218, 251, 1);
  --light-blue--1: #3bc9db;
  --dark-blue: rgba(0, 122, 204, 1);
  --blue-cyan: #228be6;


  --color-green: rgba(131, 205, 41, 1);

  //Font size
  --font-size: 1rem;
  --font-size--small: 1.2rem;
  --font-size--medium: 1.4rem;
  --font-size--large: 1.6rem;
  --font-size--x-large: 1.8rem;
  --font-size--xx-large: 2rem;

  //Font family
  --font-family: 'Roboto', sans-serif;
  --font--family--primary: 'Inter', sans-serif;
  --font-family--secondary: 'Inconsolata', monospace;
  --font-family--tertiary: 'Impact', sans-serif;
  --font-family--2: 'Fira Code', monospace;

  // FONT WEIGHT
  --font-weight--light: 300;
  --font-weight--regular: 400;
  --font-weight--medium: 600;
  --font-weight--bold: 800;
  // --font-weight--boldest: 900;
}