*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 43.75%; // 1rem ===> 7/16

  @include respond(phone-normal) {
    font-size: 50%; // 1rem ===> 8/16
  }

  @include respond(tablet-port) {
    font-size: 56.25%; // 1rem ===> 9/16
  }

  @include respond(tablet-land) {
    font-size: 62.5%; // 1rem ===> 10/16
  }

  @include respond(laptop) {
    font-size: 75%; // 1rem ===> 12/16
  }

  @include respond(desktop) {
    font-size: 87.5%; // 1rem ===> 14/16
  }

  @include respond(large-screens) {
    font-size: 100%; // 1rem ===> 16/16
  }

}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}