*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 50%; // 1REM = 8PX  ===> 8/16 = 50%

  @include respond(phone) {
    font-size: 50%; // 1REM = 8PX ===> 8/16 = 50%
  }

  @include respond(tablet) {
    font-size: 62.5%; // 1REM = 10PX ===> 10/16 = 62.5%
  }

  @include respond(laptop) {
    font-size: 75%; // 1REM = 12PX ===> 12/16 = 75%
  }

  @include respond(desktop) {
    font-size: 87.5%; // 1REM = 14PX ===> 14/16 = 87.5%
  }

  @include respond(large-screens) {
    font-size: 100%; // 1REM = 16PX ===> 16/16 = 100%
  }
}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}