*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  @include respond(phone-small) {
    font-size: 43.75%;        // 1rem ===> 7/16
  }
  @include respond(phone-normal) {

}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}