*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: var(--font-family);
  color: var(--color-white);
  background-color: var(--color--bg);
}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}