*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 55%; // 1REM = 8PX  ===> 8/16 = 50%
}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}