*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 43.75%;        // 1rem ===> 7/16
    
  
}

::selection {
  background-color: var(--color--green);
  color: var(--color--white-1);
}