.github-link-bg {
  background: linear-gradient(to top, var(--dark-blue--1), var(--light-blue--2), var(--color--white));
}

.live-link-bg {
  background: linear-gradient(to top, var(--color--white-2), var(--color--white));
}

.blue-markup {
  color: var(--blue-cyan) !important;
}

.margin-top {
  margin-top: 2rem;
}

.margin-top-5 {
  margin-top: 5rem;
}

.margin-left-minus {
  margin-left: -1rem;
}

.margin-right {
  margin-right: 1rem;
}

.margin-bottom-1 {
  margin-bottom: 1rem;
}

.svgSize {
  width: 2.2rem !important;
  height: 2.2rem !important;
  font-weight: 900 !important;
  fill: red;
}